body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-evenly;
    align-items: stretch;
}

ul {
    color: white;
    list-style-type: none;
}

img {
    width: 200px;
}

h3 {
    color: white;
    font-size: xx-large;
}

h4 {
    text-align: center;
    font-size: xx-large;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

li {
    display: inline;
    margin: 0 10px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    width: 100px;
    height: 30px;
    margin-left: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: navy;
}

.intro {
    display: flex;
    background-color: navy;
    justify-content: space-around;
    align-items: stretch;
}

.intro-text {
    display: block;
}

.tree {
    width: 300px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    height: 300px;
    align-items: stretch;
    padding-bottom: 100px;
}

.section {
    flex-direction: column;
    text-align: center;
}

.card {
    border: 5px solid blue;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 100px;
    align-self: stretch;
    padding: 100px;
    font-size:xx-large;
}

.calltoaction {
    padding: 100px;
}

.cbox {
    display: flex;
    background-color: blue;
    padding: 50px;
    color: white;
    text-align: center;
    gap: 16px;
    justify-content: space-around;
}

.footer {
    display: flex;
    background-color: navy;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-text {
    color: white;
    text-align: center;
}

